
@{
    ViewBag.Title = "DetailJob";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}


<link href="~/css/jobseeker.css" rel="stylesheet" />

<div class="job-detail-block">
    <div class="row">
        <div class="col-sm-12">
            <div class="job-above">
                <p class="job-title">@ViewBag.job.Title</p>
                <p class="job-skill">@ViewBag.job.SkillName</p>
                <p class="job-address"><i class="fas fa-map-marker-alt"></i> @ViewBag.job.LocationName</p>
                <p class="job-createdDate"><i class="far fa-clock"></i> @ViewBag.job.StringDate</p>
                <span style="color:red">You must login to see the salary</span>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="job-below">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(@ViewBag.job.Detail))
            </div>
        </div>
        <div class="col-sm-12">
            <span style="color:red">You must login to apply</span>
        </div>
    </div>

</div>

