
@{
    ViewBag.Title = "ListJob";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using FinalProject.Models

<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <div>
                <h2 class="text-center">
                    <b>QUẢN LÝ CÔNG VIỆC</b>
                </h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <!--Table-->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">
                                <input id="titleJobSearch" class="form-control" type="text" placeholder="Tiêu đề" />
                            </div>
                            <div class="col-md-2">
                                <button id="searchBtn" class="btn btn-default">
                                    Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addModal">Thêm</button>
                    </div>

                    <table id="jobTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Kĩ năng chuyên môn</th>
                                <th>Công ty</th>
                                <th>Lương</th>
                                <th>Thời gian hết hạn</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Add-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myAddModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><b>Thêm công việc</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Tiêu đề</label>
                    <input id="titleJobAddFrm" type="text" class="form-control" placeholder="Tiêu đề" />
                </div>
                <div class="form-group">
                    <label>Tóm tắt</label>
                    <input id="shortDescAddFrm" type="text" class="form-control" placeholder="Tóm tắt" />
                </div>
                <div class="form-group">
                    <label>Miêu tả chi tiết</label>
                    <textarea id="detailAddFrm" rows="10" class="form-control" placeholder="Miêu tả chi tiết"></textarea>
                </div>
                <div class="form-group">
                    <label>Lương</label>
                    <input id="salaryAddFrm" class="form-control" placeholder="Lương" />
                </div>
                <div class="form-group">
                    <label>Thời gian hết hạn</label>
                    <input id="timeAddFrm" class="form-control" type="date" placeholder="Thời gian hết hạn" />
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Công ty</label>
                                    <select id="emplIdAddFrm" class="form-control">
                                        @foreach (Employer e in ViewBag.listEmployer)
                                        {
                                            <option value="@e.ID">@e.Company_Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Kỹ năng cần thiết</label>
                                    <select id="skillIdAddFrm" class="form-control">
                                        @foreach (Skill s in ViewBag.listSkill)
                                        {
                                            <option value="@s.ID">@s.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Địa điểm</label>
                                    <select id="locationIdAddFrm" class="form-control">
                                        @foreach (Location l in ViewBag.listLocation)
                                        {
                                            <option value="@l.ID">@l.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group-sm">
                    <button id="addBtn" class="btn btn-success">Thêm</button>
                    <button id="exitAddFrm" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Edit-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myEditModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><b>Chỉnh sửa công việc</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Tiêu đề</label>
                    <input id="titleJobEditFrm" type="text" class="form-control" placeholder="Tiêu đề" />
                </div>
                <div class="form-group">
                    <label>Tóm tắt</label>
                    <input id="shortDescEditFrm" type="text" class="form-control" placeholder="Tóm tắt" />
                </div>
                <div class="form-group">
                    <label>Miêu tả chi tiết</label>
                    <textarea id="detailEditFrm" rows="10" class="form-control" placeholder="Miêu tả chi tiết"></textarea>
                </div>
                <div class="form-group">
                    <label>Lương</label>
                    <input id="salaryEditFrm" class="form-control" placeholder="Lương" />
                </div>
                <div class="form-group">
                    <label>Thời gian hết hạn</label>
                    <input id="timeEditFrm" type="date" class="form-control" placeholder="Thời gian hết hạn" />
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Công ty</label>
                                    <select id="emplIdEditFrm" class="form-control">
                                        @foreach (Employer e in ViewBag.listEmployer)
                                        {
                                            <option value="@e.ID">@e.Company_Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Kỹ năng cần thiết</label>
                                    <select id="skillIdEditFrm" class="form-control">
                                        @foreach (Skill s in ViewBag.listSkill)
                                        {
                                            <option value="@s.ID">@s.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Địa điểm</label>
                                    <select id="locationIdEditFrm" class="form-control">
                                        @foreach (Location l in ViewBag.listLocation)
                                        {
                                            <option value="@l.ID">@l.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group-sm">
                    <button id="updateBtn" class="btn btn-success">Cập nhật</button>
                    <button id="exitEditFrm" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    ////////////////////////////////////////////TABLE/////////////////////////////////////////////
    <script>
        var table;
        $(document).ready(function () {
            $("#pre-load-layer").show();
            $("#pre-load").show();
            table = $("#jobTable").DataTable({
                "ajax": {
                    "url": "/OnlineJobSearching/JobManagement/ListJob",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "titleJob": function () { return $("#titleJobSearch").val(); }
                    },
                    "cache": "false",
                    "dataSrc": function (json) {
                        return json["listJob"];
                    }
                },
                "columns": [
                    {
                        "data": "", "name": "Title", "render": function (data, type, row) {
                            return "<a name=\"" + row["ID"] + "\" class=\"JobID btn blue-text\" data-toggle=\"modal\" data-target=\"#editModal\" >" + row["Title"] + "</a>"
                        }
                    },
                    {
                        "data": "SkillName", "name": "SkillName"
                    },
                    {
                        "data": "CompanyName", "name": "CompanyName"
                    },
                    {
                        "data": "Salary", "name": "Salary"
                    },
                    {
                        "data": "StringDate", "name": "Time"
                    }
                ],
                "serverSide": "true",
                "order": [0, "asc"],
                "searching": false,
                "lengthChange": false,
                "autoWidth": false,
                "filter": false,
                "info": false,
                "language": {
                    emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|"
                    }
                },
                "initComplete": function (settings, json) {
                    setTimeout(function () {
                        $("#pre-load").hide();
                        $("#pre-load-layer").hide();
                    }, 2000);
                }
            })
        });
    </script>

    /////////////////////////////////////////////////SEARCH////////////////////////////////////////////////////
    <script>
        $(document).ready(function () {
            $("#searchBtn").click(function () {
                $("#pre-load-layer").show();
                $("#pre-load").show();
                table.ajax.reload();
                setTimeout(function () {
                    $("#pre-load").hide();
                    $("#pre-load-layer").hide();
                }, 2000);
            });
        });
    </script>

    ////////////////////////////////////////////////ADD////////////////////////////////////////////////////////
    <script>
        $(document).ready(function () {
            $("#addBtn").click(function () {
                $("#pre-load-layer").show();
                $("#pre-load").show();
                $.ajax({
                    url: "/OnlineJobSearching/JobManagement/AddJob",
                    type: "POST",
                    datatype: "json",
                    data: {
                        "titleJob": function () { return $("#titleJobAddFrm").val(); },
                        "shortdes": function () { return $("#shortDescAddFrm").val(); },
                        "detail": function () { return $("#detailAddFrm").val(); },
                        "salary": function () { return $("#salaryAddFrm").val(); },
                        "time": function () { return $("#timeAddFrm").val(); },
                        "emplID": function () { return $("#emplIdAddFrm").val(); },
                        "skillID": function () { return $("#skillIdAddFrm").val(); },
                        "locationID": function () { return $("#locationIdAddFrm").val(); }
                    },
                    success: function (response) {
                        if (response.success) {
                            successAlert(response.title, response.message);
                            $("#pre-load").hide();
                            $("#pre-load-layer").hide();
                            table.ajax.reload();
                            //exit modal
                            $("#exitAddFrm").click();

                        } else {
                            errorAlert(response.title, response.message);
                            $("#pre-load").hide();
                            $("#pre-load-layer").hide();
                            table.ajax.reload();
                            $("#exitAddFrm").click();
                        }
                    },
                    error: function (response) {
                        $("#pre-load").hide();
                        $("#pre-load-layer").hide();
                        errorAlert(response.title, response.message);
                    }
                })
            });
        });
    </script>



    /////////////////////////////////////////////////EDIT//////////////////////////////////////////////////////
    <script>
        var jobID;
        $(document).ready(function () {
            $("#jobTable").on("click", ".JobID", function () {
                jobID = $(this).attr("name");
                getJobByID(jobID);
            });
        });

    </script>

    <script>
        /////get job by id -> pass to input of edit modal/////
        function getJobByID(jobID) {
            $.ajax({
                url: "/OnlineJobSearching/JobManagement/GetJobByID",
                type: "POST",
                datatype: "json",
                data: {
                    "jobID": jobID
                },
                success: function (response) {
                    var jobByID = response.jobByID;
                    $("#titleJobEditFrm").val(jobByID.Title);
                    $("#shortDescEditFrm").val(jobByID.Short_Des);
                    $("#detailEditFrm").val(jobByID.Detail);
                    $("#salaryEditFrm").val(jobByID.Salary);
                    $("#timeEditFrm").val(jobByID.Time);
                    $("#emplIdEditFrm").val(jobByID.EmplID);
                    $("#skillIdEditFrm").val(jobByID.SkillID);
                    $("#locationIdEditFrm").val(jobByID.LocationID);
                },
                error: function (response) {

                }
            });
        }
    </script>


}