
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutJobSeeker.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <h1 class="list-company">Danh sách công ty</h1>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-12" style="padding: 0px 30px !important;"> 
                <form action="/OnlineJobSearching/Jobseeker/Index" method="get" id="myForm">
                    <div class="form-group">
                        <label for="username">Tìm kiếm</label>
                        <input type="text" class="form-control" id="username" placeholder="Nhập tên công ty" name="company" onchange="submit()" value="@ViewBag.company">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@foreach (var company in ViewBag.companies)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="_1company">
                <div class="company-title">
                    <h2>@company.Company_Name</h2>
                </div>
                <div class="company_detail">
                    <h3>@company.Name - Chức vụ : @company.Title</h3>
                    <p>Email : @company.Email</p>
                    <p>Phone : (+84) @company.Phone</p>
                    <p>Địa chỉ : @company.LocationName</p>
                    <p>Website công ty : <a href="@company.Company_Web">@company.Company_Web</a></p>
                </div>
            </div>
        </div>
    </div> <!--end row-->
}
<div class="pager">
    @for (int i = 1; i <= @ViewBag.pages; i++)
    {
        if (i == @ViewBag.cur)
        {
            <span>@ViewBag.cur</span>
        }
        else
        {
            <a href="/OnlineJobSearching/JobSeeker/Index?page=@i&company=@ViewBag.company">@i</a>
        }
    }
</div>
@section scripts{
    <script>
        function submit() {
            document.getElementById("myForm").submit();
        }
    </script>
}



